In [1]:
import csv
import pandas as pd
import operator
from xgboost import XGBRegressor # you have to install it first!
import sklearn
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Imputer, StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

In [2]:
sample = pd.read_csv(r'all\sample_submission.csv', sep = ',')
sample.head(5)

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977

# Test file

In [3]:
test = pd.read_csv(r'all\test.csv', sep = ',')
test.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [4]:
# set of columns with at least one NaN value
nan_dict = {}
for col in test:
    nan_count = test[test[col].isna()]
    if len(nan_count)>0:
        nan_dict[col] = len(nan_count)
        
sorted_nan = sorted(nan_dict.items(), key = operator.itemgetter(1))
sorted_nan.reverse()

In [5]:
# creating a set of columns names (with NaN values in test)
test_li = set()
for i in range(len(sorted_nan)):
    test_li.add(sorted_nan[i][0])

**Alley** has 107 null values and the remaining are NaN.  ---> drop ?

**MiscFeature** has 3 second garage, 2 other, 46 shed and the remaining 1408 are missing. We can drop it since we don't need these informations. 

**MiscVal** has 51 different values and the remaining 1408 are missing (*except* miscval = 17000, miscfeature = nan).

**PoolArea** has 1453 zeroes and the remaining 6 are different values. 

**PoolQC** has 2 excellent and 1 good values, the remaining 3 are NaN. The information is not reliable.  ---> drop

In [6]:
col = test['PoolArea']
grouped = col.groupby(col).count()
grouped

PoolArea
0      1453
144       1
228       1
368       1
444       1
561       1
800       1
Name: PoolArea, dtype: int64

# Train

In [7]:
train = pd.read_csv(r'all\train.csv', sep = ',')
train.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [8]:
# set of columns with at least one NaN value
nan_dict_train = {}
for col in train:
    nan_count_train = train[train[col].isna()]
    if len(nan_count_train)>0:
        nan_dict_train[col] = len(nan_count_train)
        
sorted_nan_train = sorted(nan_dict_train.items(), key = operator.itemgetter(1))
sorted_nan_train.reverse()

In [9]:
# creating a set of columns names (with NaN values in train)
train_li = set()
for i in range(len(sorted_nan_train)):
    train_li.add(sorted_nan[i][0])

## Handling with missing values

### An Extension To Imputation

In [10]:
drop_test_col = [tup[0] for tup in sorted_nan[:6]]
imp_test_col = [tup[0] for tup in sorted_nan[6:]]

In [11]:
# dropping the columns with a higher number of missing values
dropped_test = test.drop(drop_test_col, axis = 1)
dropped_train = train.drop(drop_test_col, axis = 1)

In [12]:
# distinguishing categorical and numeric features
str_feature = [i for i in dropped_test.columns 
            if isinstance(dropped_test[i][0], str)]
num_feature = [i for i 
               in (set(dropped_test.columns).difference(str_feature))]

In [13]:
# make copy to avoid changing original data (when Imputing)

new_test = dropped_test.copy()
new_train = dropped_train.copy()
'''
for col in imp_test_col:
    new_test[col + '_was_missing'] = new_test[col].isnull()

for col in imp_test_col:
    new_train[col + '_was_missing'] = new_train[col].isnull()
'''

"\nfor col in imp_test_col:\n    new_test[col + '_was_missing'] = new_test[col].isnull()\n\nfor col in imp_test_col:\n    new_train[col + '_was_missing'] = new_train[col].isnull()"

In [14]:
# creating the preprocessing pipelines for numeric data
num_transformer = Pipeline(steps = [
    ('imputer', SimpleImputer(strategy = 'median')),
    ('scaler', StandardScaler())])

# creating the preprocessing pipelines for categorical data
str_transformer = Pipeline(steps = [
    ('imputer', SimpleImputer(strategy = 'most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown = 'ignore'))])

In [15]:
preprocessor = ColumnTransformer(
    transformers = [('num', num_transformer, num_feature),
                    ('cat', str_transformer, str_feature)])

In [16]:
# appending classifier to preprocessing pipeline
# now we have a full prediction pipeline
clf = Pipeline(steps = [('preprocessor', preprocessor),
                      ('classifier', XGBRegressor(n_estimators = 1000, 
                                                  learning_rate = 0.05))])

In [17]:
reduced_train = new_train.drop('SalePrice', axis = 1)

# Modelling

In [18]:
# in order to isolate the price
final_train_y = train.SalePrice

In [19]:
# to ensure the test data is encoded in the same manner
final_train_X, final_test_X = reduced_train.align(new_test,
                                                 join = 'left', axis = 1)

In [20]:
clf.fit(final_train_X, final_train_y)

Pipeline(memory=None,
     steps=[('preprocessor', ColumnTransformer(n_jobs=None, remainder='drop', sparse_threshold=0.3,
         transformer_weights=None,
         transformers=[('num', Pipeline(memory=None,
     steps=[('imputer', SimpleImputer(copy=True, fill_value=None, missing_values=nan, strategy='mean',
       verbose...
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1))])

In [21]:
predictions = clf.predict(final_test_X)

## Creating the submission file

In [22]:
pred_sale_price = pd.DataFrame(predictions, columns = ['SalePrice'], 
                               index = None)
pred_sale_price['Id'] = test['Id']
pred_sale_price.head()

       SalePrice    Id
0  121051.835938  1461
1  166628.062500  1462
2  179249.796875  1463
3  189240.687500  1464
4  178038.375000  1465

In [23]:
cols = pred_sale_price.columns.tolist()
cols = cols[-1:] + cols[:-1]
cols

['Id', 'SalePrice']

In [24]:
pred_sale_price = pred_sale_price[cols]
pred_sale_price.head()

     Id      SalePrice
0  1461  121051.835938
1  1462  166628.062500
2  1463  179249.796875
3  1464  189240.687500
4  1465  178038.375000

In [25]:
pred_sale_price.to_csv('predictions.csv', index = False)